@using Epep.Core.ViewModels.Document;
@model FilterDocumentListVM
@{
    ViewData["Title"] = "Документи";
}

@section offcanvasMain{
    <div class="details__header offcanvas-header">
        <h5 id="searchOffcanvasLabel" class="section-title">Търсене на документ</h5>
    </div>
    <div class="details__body offcanvas-body">
        <button type="button" class="btn u-btn u-btn-pill u-btn--grey ms-auto oc-clear" data-bs-dismiss="offcanvas">Изчисти и затвори</button>
        <form action="" class="epep-form">
            @Html.EditorFor(x=>x.CourtId,"GenericDropDown",new{container_class="mb-2",select2=true})
            @Html.EditorFor(x=>x.ElectronicDocumentTypeId,"GenericDropDown",new{container_class="mb-2",select2=true})
            @Html.EditorFor(x=>x.NumberApply,"String",new{container_class="mb-2"})
            <div class="row g-2">
                @Html.EditorFor(x=>x.DateApplyFrom,"DateTimeNull",new{container_class="col-6 mb-2"})
                @Html.EditorFor(x=>x.DateApplyTo,"DateTimeNull",new{container_class="col-6 mb-2"})
            </div>
            <div class="row g-2">
                @Html.EditorFor(x=>x.CaseNumber,"Int32",new{container_class="col-6 mb-2"})
                @Html.EditorFor(x=>x.CaseYear,"GenericDropDownInt",new{container_class="col-6 mb-2"})
            </div>
            <div class="mt-4">
                <button type="button" onclick="gridViewLoadData('#gvDocuments');" class="btn u-btn u-btn-pill ms-auto oc-submit" data-bs-dismiss="offcanvas">Търси</button>
            </div>
        </form>
    </div>
}

<main class="page-content">
    <div class="container">

        <div class="page-title__container row">
            <div class="col-auto"><h1 class="page-title">@ViewData["Title"]</h1></div>
            <div class="col-auto">
                <button class="btn u-btn u-btn-pill" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMain" aria-controls="offcanvasMain">Търсене на документ</button>
            </div>
        </div>

        <div class="form-group">
            <a href="@Url.Action("Add")" class="btn u-btn-gradient">Нов документ</a>
        </div>

        <div id="gvDocuments"></div>
    </div>
</main>

@section Scripts
    {

    <script>
        $(function () {
            $('#offcanvasMain').addClass('off-small');
            let gvDocuments = new GridView({
                container: '#gvDocuments',
                url: '@(Url.Action("LoadData"))',
                data: function () {
                    return {
                        CourtId: $('#CourtId').val(),
                        ElectronicDocumentTypeId: $('#ElectronicDocumentTypeId').val(),
                        NumberApply: $('#NumberApply').val(),
                        DateApplyFrom: $('#DateApplyFrom').val(),
                        DateApplyTo: $('#DateApplyTo').val(),
                        CaseNumber: $('#CaseNumber').val(),
                        CaseYear: $('#CaseYear').val()
                    };
                },
                template: '#gvItemDocument',
                loader_text: 'Моля, изчакайте...'
            });
        });
    </script>
    <script type="text/x-handlebars-template" id="gvItemDocument">
                                                                <li class="list__item">
                                                                    <div class="case-card case-card--darken">
                                                                        <div class="case-card__body">
                                                                            <div class="row">
                                                                                <a href="@Url.Action("Details")/{{gid}}" class="col-lg-10">
                                                                                <div class="row">
                                                                                        <div class="col-md-2">
                                                                                            <span class="list__label">{{documentTypeName}}</span>
                                                                                        <div class="list__output">{{numberApply}}</div>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                       <span class="list__label">Дата и час</span>
                                                                                       <div class="list__output">
                                                                                               {{#if dateApply}}
                                                                                           {{dateFormat dateApply "DD.MM.YYYY HH:mm"}}
                                                                                           {{else}}
                                                                                               {{dateFormat modifyDate "DD.MM.YYYY HH:mm"}}
                                                                                           {{/if}}
                                                                                           </div>
                                                                                    </div>
                                                                                    <div class="col-md">
                                                                                        <span class="list__label">Съд</span>
                                                                                        <div class="list__output">{{courtName}}</div>
                                                                                    </div>
                                                                                    <div class="col-md">
                                                                                         <span class="list__label">Свързани лица</span>
                                                                                         <div class="list__output">
                                                                                             {{#each this.sides}}
                                                                                             <div class="list__sublist">{{fullName}} - {{sideInvolvementKindName}}</div>
                                                                                             {{/each}}
                                                                                         </div>
                                                                                    </div>

                                                                                        </div>
                                                                                </a>
                                                                                    <div class="col-lg-1">
                                                                                        <span class="list__label">Вх.документ</span>
                                                                                        <div class="list__output">
                                                                                                {{#if docInfo}}
                                                                                                     {{docInfo.numberText}}/{{dateFormat docInfo.date "YYYY"}}
                                                                                                {{/if}}
                                                                                         </div>
                                                                                     </div>                                                                                   
                                                                                 <div class="col-lg-1">
                                                                                       {{#if buttonName}}
                                                                                                 <a href="@Url.Action("Details")/{{gid}}" class="cta-active btn">{{buttonName}}</a>
                                                                                        {{/if}}
                                                                                 </div>
        @*
    </div>
    {{#if isRead}}
        <div class="col-md">
            <button onclick="showDetails(@(NomenclatureConstants.SourceTypes.Summon),'{{gid}}');return false;" class="float-end btn u-btn-lupa" aria-labelledby="преглед свързани документи" title="Преглед"></button>
        </div>
    {{else}}
        <div class="col-md"><button onclick="showDetails(@(NomenclatureConstants.SourceTypes.Summon),'{{gid}}');return false;" class="cta-active btn">Прочети</button></div>
    {{/if}}*@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
    </script>
}