@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name), "Начало")
}, "Помощ")

@{ 
    var rightCircleIcon = Links.Content.img.icons.arrow_right_circle_orange_png;
    if (Statics.IsSummonsPortal)
    {
        rightCircleIcon = Links.Content.img.icons.arrow_right_circle_blue_png;
    }
}

<div class="text-page help-page clearfix">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
        <h1>Помощ</h1>
        <h2>ЕЛЕКТРОННИ СЪДЕБНИ ДЕЛА</h2>

        <h2>Информационна система, потребители и потребителски профили</h2>
        <p>
            Системата съдържа публична информация със заличени лични данни, достъпна за всички потребители и друга, непублична, съдържаща електронно копие на съдебни дела, достъпна единствено за регистрирани потребители, получили достъп чрез потребителско име и парола.
        </p>
        <p>
            За да използвате пълната функционалност на системата, е необходимо да имате собствен потребителски профил, който се създава еднократно, чрез подаване на заявление в някое от включените към портала съдилища. Профилът може да бъде, както личен на физическо лице, така и на юридическо лице или на техен процесуален представител (адвокат).
        </p>
        <p>
            Чрез информационните системи на включените към системата съдилища може да се дава достъп на всеки един профил до копие на съдебно дело. Системата позволява и изпращането на електронни съобщения и призовки.
        </p>
        <p>
            Повече информация за включените в момента съдилища, правилата за създаване на потребителски профил, правилата за достъп до електронно копие на съдебно дело и образци на заявления може да намерите в следните раздели на системата:
        </p>
        <p style="padding-left: 30px">
            <a href="@(Url.Action(MVC.Home.ActionNames.CourtsList, MVC.Home.Name))">Списък на свързаните с портала съдилища</a><br />
            <a href="@(Url.Action(MVC.Home.ActionNames.ElectronicCasesAccessRules, MVC.Home.Name))">Правила за достъп и образци на заявления</a>
        </p>

        <h2 id="case-data">Данни, съдържащи се в системата</h2>
        <h4>Публична част, достъпна без потребителски профил</h4>

        <p>
            В публичната част на портала имате достъп до всички публикувани дела, налични в системата, но те са със заличени лични данни. При избор на дело от публичната част, може да виждате следните раздели от електронната папка на делото:
        </p>

        <ul class="ticks">
            <li>Данни за делото;</li>
            <li>Дати на заседания;</li>
            <li>Свързани дела;</li>
            <li>Актове;</li>
            <li>Съдържание на актове (визуализират се със заличени лични данни);</li>
            <li>Мотиви (визуализират се със заличени лични данни).</li>
        </ul>

        <h4>Защитени данни, достъпни единствено чрез потребителски профил</h4>
        <p>
            За копията на електронните дела, до които Ви е предоставен достъп чрез Вашия потребителски профил, може да виждате всички гореизброени данни, като <strong>Съдържание на актове</strong> и <strong>Мотиви</strong> се визуализират с личните данни в тях. За посочените дела в профила си може да виждате още и следните секции:
        </p>

        <ul class="ticks">
            <li>Страни по делото;</li>
            <li>Протокол за разпределение по делото;</li>
            <li>Сканирани документи;</li>
            <li>Протокол от заседание;</li>
            <li>Съобщения (само когато сте заявили изрично желание да получавате електронни призовки и съобщения по конкретно дело.</li>
        </ul>

        <h2>Технически изисквания</h2>
        <p>
            За правилната работа на системата е необходимо в браузъра да е разрешено изпълнението на JavaScript. За подробности относно включването и изключването на тази функционалност вижте потребителската документация на използвания от Вас браузър.
        </p>
        <p>
            Системата е разработена и тествана за работа със следните видове браузъри:
        </p>

        <ul class="browsers">
            <li><a target="_blank" title="Internet Explorer" href="http://windows.microsoft.com/bg-bg/internet-explorer/ie-9-worldwide-languages"><img src="@(Url.Content(Links.Content.img.icons.browsers.ie_png))" alt="">Microsoft Internet Explorer 9 или по-нов;</a></li>
            <li><a target="_blank" title="Mozilla Firefox" href="http://www.mozilla.org/bg/firefox/new/"><img src="@(Url.Content(Links.Content.img.icons.browsers.mozilla_png))" alt="">Mozilla Firefox 15 или по-нов;</a></li>
            <li><a target="_blank" title="Google Chrome" href="https://www.google.com/intl/bg/chrome/browser/"><img src="@(Url.Content(Links.Content.img.icons.browsers.chrome_png))" alt="">Google Chrome 25 или по-нов;</a></li>
            <li><a target="_blank" title="Safari" href="https://www.apple.com/safari/"><img src="@(Url.Content(Links.Content.img.icons.browsers.safari_png))" alt="">Safari 7 или по-нов;</a></li>
            <li><a target="_blank" title="Opera" href="http://www.opera.com/bg/computer/windows"><img src="@(Url.Content(Links.Content.img.icons.browsers.opera_png))" alt="">Opera 15 или по-нов;</a></li>
        </ul>

        <p>
            В момента по наши наблюдения от проведените тестове, системата работи най-добре и бързо с браузъра  <a target="_blank" title="Google Chrome" href="https://www.google.com/intl/bg/chrome/browser/">Google Chrome</a>.
        </p>
        <p>
            Препоръката ни е винаги да се стремите да използвате съвременни и по-мощни компютри, както и винаги да работите с последна актуална версия на използвания от Вас браузър.
        </p>
        <!-- Toggable sections: -->
        <p>&nbsp;</p>
        <h2>ВЪПРОСИ И ОТГОВОРИ</h2>
        <div class="help-questions">
            <h3 data-section="1" class="section-heading">
                <img class="arrow" src="@(Url.Content(rightCircleIcon))" alt="">
                Потребителски профил
            </h3>
            <section data-section="1" class="togglable-section clearfix">
                <h4 data-section="1-1" class="section-heading">
                    <img class="arrow" src="@(Url.Content(rightCircleIcon))" alt="">
                    Как да си създам потребителски профил?
                </h4>
                <section data-section="1-1" class="togglable-section clearfix">
                    <p>
                        За създаването на потребителски профил е необходимо да подадете изрично заявление за това до някое от съдилищата, технически свързани с портала. Заявлението е по образец и се подава еднократно на място в съда, където е необходимо да удостоверите своята самоличност. В заявлението задължително трябва да посочите и адрес на електронна поща, който ще се използва като Вашето потребителско име. След регистрация в информационната система на съда се създава Вашият потребителски профил и на посочения от Вас електронен адрес се изпраща хипервръзка за активиране на профила.
                    </p>
                    <p>
                        След като отворите електронната Ви поща чрез изпратената хипервръзка ще  може да влезете в системата и да въведете желаната от Вас парола за профила. Следвайте инструкциите и след потвърждение потребителският Ви профил ще бъде създаден, активиран и готов за работа.
                    </p>
                    <p>
                        <span class="required-span">Не споделяйте профила си с други потребители!</span> Това означава да запазите паролата си само и единствено за Вас. Към един адрес на електронна поща може да се направи само един потребителски профил и не можете да си отворите друг профил със същия имейл адрес. Освен това, създаденият профил и асоциираният към него адрес на електронна поща ще се използват за изпращане на електронни съобщения и призовки, ако изрично сте заявили желание за получаването им.
                    </p>
                    <p>
                        При проблеми с паролата имате възможност да я промените от менюто „Вход“ и хипервръзката „Забравена парола“. Ако желаете да смените паролата си, след като сте влезли в системата, от менюто горе в дясно изберете „Смяна на парола“.
                    </p>
                    <p>
                        За допълнителна информация вижте:
                    </p>
                    <ul>
                        <li><a href="@(Url.Action(MVC.Home.ActionNames.CourtsList, MVC.Home.Name))">Списък на свързаните с портала съдилища</a></li>
                        <li><a href="@(Url.Action(MVC.Home.ActionNames.ElectronicCasesAccessRules, MVC.Home.Name))">Правила за достъп и образци на заявления</a></li>
                    </ul>
                </section>
                <h4 data-section="1-2" class="section-heading">
                    <img class="arrow" src="@(Url.Content(rightCircleIcon))" alt="">
                    Как да си сменя потребителското име на профила?
                </h4>
                <section data-section="1-2" class="togglable-section clearfix">
                    <p>
                        За потребителско име на профила Ви системата използва адреса на Вашата електронна поща. На този адрес се изпращат всички електронни съобщения и призовки, когато изрично сте заявили желание за получаване на такива по конкретно дело.
                    </p>
                    <p>
                        Ако желаете да смените потребителското си име (например при смяна на имейл адрес), е необходимо да подадете заявление по образец в някое от свързаните към портала съдилища. След промяната ще се запазят всички копия на електронни дела, които преди промяната са били свързани с потребителския Ви профил .
                    </p>
                    <p>
                        За допълнителна информация вижте:
                    </p>
                    <ul>
                        <li><a href="@(Url.Action(MVC.Home.ActionNames.CourtsList, MVC.Home.Name))">Списък на свързаните с портала съдилища</a></li>
                        <li><a href="@(Url.Action(MVC.Home.ActionNames.ElectronicCasesAccessRules, MVC.Home.Name))">Правила за достъп и образци на заявления</a></li>
                    </ul>
                </section>
                <h4 data-section="1-3" class="section-heading">
                    <img class="arrow" src="@(Url.Content(rightCircleIcon))" alt="">
                    Как да си възстановя забравената парола?
                </h4>
                <section data-section="1-3" class="togglable-section clearfix">
                    <p>
                        От менюто горе в дясно изберете „Вход“ - отваря се нова страница, в която имате възможност да въведете потребителско име и парола, за да влезете в системата. Ако обаче сте забравили паролата си, чрез избора на хипервръзката „Забравена парола“ може да я промените.
                    </p>

                    <p>
                        При избора на командата за забравена парола системата изисква да укажете кой потребител сте и след като Ви открие, Ви изпраща имейл с хипервръзка за смяна на парола. Отидете в електронната си поща и от получения имейл изберете изпратената Ви хипервръзка. Чрез нея отново ще влезете в системата с опция за въвеждане на нова парола. Следвайте инструкциите и след потвърждение, паролата на потребителския Ви профил ще бъде сменена.
                    </p>
                </section>
                <h4 data-section="1-4" class="section-heading">
                    <img class="arrow" src="@(Url.Content(rightCircleIcon))" alt="">
                    Може ли няколко потребители да използваме един и същ профил?
                </h4>
                <section data-section="1-4" class="togglable-section clearfix">
                    <p>
                        <strong>За юридически лица, организации, адвокатски колегии и кантори</strong>
                    </p>
                    <p>
                        Технически е възможно използването на един профил от повече от едно лице и вероятно това е най-удачният вариант при организации или юридически лица с повече от един представляващ или юрист. Но обърнете внимание, че всеки потребителски профил поддържа само едно потребителско име (адрес на електронна поща) и една парола. Освен това в съответния съд по компетентност за конкретно дело може да се даде достъп до повече от един профили. В правилата за достъп до електронно копие на съдебно дело е предвидена и възможност за спиране на достъп до дело от определен профил.
                    </p>
                    <p>
                        <span class="required-span">На юридически лица, организации, адвокатски колегии и кантори, които възнамеряват да използват потребителския профил за повече от едно лице, е силно препоръчително, внимателно да се запознаят с правилата за достъп.</span>
                    </p>
                    <p>
                        За допълнителна информация вижте:
                    </p>
                    <ul>
                        <li><a href="@(Url.Action(MVC.Home.ActionNames.CourtsList, MVC.Home.Name))">Списък на свързаните с портала съдилища</a></li>
                        <li><a href="@(Url.Action(MVC.Home.ActionNames.ElectronicCasesAccessRules, MVC.Home.Name))">Правила за достъп и образци на заявления</a></li>
                    </ul>
                    <p>
                        <strong>За физически лица и самостоятелни процесуални представители</strong>
                    </p>
                    <p>
                        Всеки потребителски профил поддържа само едно потребителско име (адрес на електронна поща) и една парола. Поради някои технически ограничения при уеб базираните приложения, системата позволява в един профил едновременно да могат да влязат няколко различни лица през различни устройства. Това става възможно в случаите, когато сте дали паролата от профила Ви и на други хора.
                    </p>
                    <p>
                        <span class="required-span">Споделянето на профила Ви с други потребители не е препоръчително.</span>
                    </p>
                    <p>
                        <strong>Това означава да зsапазите паролата си само за Вас</strong>, поради няколко основни съображения:
                    </p>
                    <ul class="ticks">
                        <li>към един адрес на електронна поща може да се направи само един потребителски профил, не можете да си отворите друг профил със същия имейл адрес.</li>
                        <li>този профил и асоциирания към него адрес на електронна поща ще се използват за изпращане на електронни съобщения и призовки, когато изрично сте заявили желание за получаването им по конкретно дело.</li>
                    </ul>
                    <p>
                        Ако все пак сте дали на някого паролата си и впоследствие искате да я смените, имате възможност да го направите от менюто „Забравена парола“ или ако сте в системата, горе в дясно изберете „Смяна на парола“.
                    </p>
                </section>
            </section>
            <h3 data-section="2" class="section-heading">
                <img class="arrow" src="@(Url.Content(rightCircleIcon))" alt="">
                Данни съдържащи се в системата и достъп до тях
            </h3>
            <section data-section="2" class="togglable-section clearfix">
                <h4 data-section="2-1" class="section-heading">
                    <img class="arrow" src="@(Url.Content(rightCircleIcon))" alt="">
                    Какви данни се съдържат в системата?
                </h4>
                <section data-section="2-1" class="togglable-section clearfix">
                    <p>
                        Системата поддържа публични данни, достъпни за всички потребители, най-общо те са:
                    </p>
                    <ul class="ticks">
                        <li>Данни за делото;</li>
                        <li>Дати на заседания;</li>
                        <li>Свързани дела;</li>
                        <li>Актове;</li>
                        <li>Съдържание на актове (визуализират се със заличени лични данни);</li>
                        <li>Мотиви (визуализират се със заличени лични данни).</li>
                    </ul>
                    <p>
                        При достъп чрез потребителски профил имате достъп и до:
                    </p>
                    <ul class="ticks">
                        <li>Страни по делото;</li>
                        <li>Протокол за разпределение по делото;</li>
                        <li>Сканирани документи;</li>
                        <li>Протокол от заседание;</li>
                        <li>Съобщения (само когато сте заявили изрично желание да получавате електронни призовки и съобщения по конкретно дело;</li>
                        <li>Съдържание на актове (визуализират се с лични данни);</li>
                        <li>Мотиви (визуализират се с лични данни).</li>
                    </ul>
                </section>

                <h4 data-section="2-2" class="section-heading">
                    <img class="arrow" src="@(Url.Content(rightCircleIcon))" alt="">
                    Какво да направя, искам да ми бъде осигурен достъп до дело? 
                </h4>
                <section data-section="2-2" class="togglable-section clearfix">
                    <p>
                        Достъп до електронно копие на конкретно съдебно дело имат само страните и техните процесуални представители. Електронният достъп е възможен само за съдилищата, технически свързани с Портала.
                    </p>
                    <p>
                        За целта е необходимо да имате вече създаден личен потребителски профил в системата, да попълнете <strong>Заявление за достъп до електронно дело и електронно призоваване</strong> и да го подадете лично в компетентния по съответното дело съд. Вашето заявление ще бъде разгледано в срок от пет работни дни. В момента, в който Ви бъде осигурен достъп до исканото от Вас дело, ще бъдете уведомени на адреса на електронната Ви поща. 
                    </p>
                    <p>
                        За допълнителна информация вижте:<br />
                        <a href="@(Url.Action(MVC.Home.ActionNames.CourtsList, MVC.Home.Name))">Списък на свързаните с портала съдилища</a> <br />
                        <a href="@(Url.Action(MVC.Home.ActionNames.ElectronicCasesAccessRules, MVC.Home.Name))">Правила за достъп и образци на заявления</a>
                    </p>
                </section>
                
                <h4 data-section="2-3" class="section-heading">
                    <img class="arrow" src="@(Url.Content(rightCircleIcon))" alt="">
                    Какво да направя, искам да получавам по електронен път призовки и съобщения?
                </h4>
                <section data-section="2-3" class="togglable-section clearfix">
                    <p>
                        Тази функционалност е пилотна (предстои приемането на нормативна уредба) и от нея могат да се ползват само страните и техните процесуални представители. Електронното призоваване и изпращане на съобщения е възможно само за съдилищата, технически свързани с Портала.
                    </p>
                    <p>
                        За целта е необходимо да имате вече създаден личен потребителски профил в системата, да попълните <strong>Заявление за достъп до електронно дело и електронно призоваване</strong> и да го подадете лично в компетентния по съответното дело съд.
                    </p>
                    <p>
                        Вашето заявление ще бъде разгледано в срок от пет работни дни. В момента, в който Ви бъде осигурен достъп и бъде включена функционалността за електронно призоваване и изпращане на съобщение по Ваше дело, ще бъдете уведомени на адреса на електронната Ви поща.
                    </p>
                    <p>
                        В бъдеще, когато има изпратени към Вас електронна призовка или съобщение, ще бъдете уведомявани в Портала след вход във Вашия личен потребителски профил, а също така и на адреса на електронната Ви поща.
                    </p>
                    <p>
                        За допълнителна информация вижте:<br />
                        <a href="@(Url.Action(MVC.Home.ActionNames.CourtsList, MVC.Home.Name))">Списък на свързаните с портала съдилища</a> <br />
                        <a href="@(Url.Action(MVC.Home.ActionNames.ElectronicCasesAccessRules, MVC.Home.Name))">Правила за достъп и образци на заявления</a>
                    </p>
                </section>

                <h4 data-section="2-4" class="section-heading">
                    <img class="arrow" src="@(Url.Content(rightCircleIcon))" alt="">
                    Какво да направя, за да прекратя достъпа на други лица до мои дела?
                </h4>
                <section data-section="2-4" class="togglable-section clearfix">
                    <p>
                        Електронен достъп чрез системата на други лица, различни от страните по делото, се дава само и единствено след изрично писмено упълномощаване от страната. По някаква причина, например смяна на процесуален представител (адвокат), напускане на служител и др., може да се наложи да се спре или промени достъпа до електронно копие на дело. Системата поддържа техническа възможност за тези действия, а процедурата за спиране или промяна на достъп до електронно дело от конкретен профил е предвидена в Правилата за достъп. За извършване на промените е необходимо да подадете заявление по образец на място в компетентния по делото съд.
                    </p>
                    <p>
                        За допълнителна информация вижте <a href="@(Url.Action(MVC.Home.ActionNames.ElectronicCasesAccessRules, MVC.Home.Name))">Правила за достъп и образци на заявления</a>
                    </p>
                </section>
            </section>
            <h3 data-section="3" class="section-heading">
                <img class="arrow" src="@(Url.Content(rightCircleIcon))" alt="">
                Технически въпроси
            </h3>
            <section data-section="3" class="togglable-section clearfix">
                <h4 data-section="3-1" class="section-heading">
                    <img class="arrow" src="@(Url.Content(rightCircleIcon))" alt="">
                    Защо някои функционалности в системата не работят?
                </h4>
                <section data-section="3-1" class="togglable-section clearfix">
                    <p>
                        За правилната работа на системата е необходимо в браузъра да е разрешено изпълнението на JavaScript. За подробности относно включването и изключването на тази функционалност вижте потребителската документация на използвания от Вас браузър.
                    </p>
                </section>
                <h4 data-section="3-2" class="section-heading">
                    <img class="arrow" src="@(Url.Content(rightCircleIcon))" alt="">
                    Кой браузър да използвам, за да работя със системата?
                </h4>
                <section data-section="3-2" class="togglable-section clearfix">
                    <p>
                        Системата е разработена и тествана за работа със следните видове браузъри:
                    </p>
                    <ul class="browsers">
                        <li><a target="_blank" title="Internet Explorer" href="http://windows.microsoft.com/bg-bg/internet-explorer/ie-9-worldwide-languages"><img src="@(Url.Content(Links.Content.img.icons.browsers.ie_png))" alt="">Microsoft Internet Explorer 9 или по-нов;</a></li>
                        <li><a target="_blank" title="Mozilla Firefox" href="http://www.mozilla.org/bg/firefox/new/"><img src="@(Url.Content(Links.Content.img.icons.browsers.mozilla_png))" alt="">Mozilla Firefox 15 или по-нов;</a></li>
                        <li><a target="_blank" title="Google Chrome" href="https://www.google.com/intl/bg/chrome/browser/"><img src="@(Url.Content(Links.Content.img.icons.browsers.chrome_png))" alt="">Google Chrome 25 или по-нов;</a></li>
                        <li><a target="_blank" title="Safari" href="https://www.apple.com/safari/"><img src="@(Url.Content(Links.Content.img.icons.browsers.safari_png))" alt="">Safari 7 или по-нов;</a></li>
                        <li><a target="_blank" title="Opera" href="http://www.opera.com/bg/computer/windows"><img src="@(Url.Content(Links.Content.img.icons.browsers.opera_png))" alt="">Opera 15 или по-нов;</a></li>
                    </ul>
                    <p>
                        В момента по наши наблюдения от проведените тестове, системата работи най-добре и бързо с браузъра  <a target="_blank" title="Google Chrome" href="https://www.google.com/intl/bg/chrome/browser/">Google Chrome</a>.
                    </p>
                    <p>
                        Препоръката ни е винаги да се стремите да използвате съвременни и по-мощни компютри, както и винаги да работите с последна актуална версия на използвания от Вас браузър.
                    </p>
                </section>
            </section>
        </div>
    </div>
</div>