@model Newtonsoft.Json.Linq.JObject

@using System.Configuration
@using eCase.Common.Helpers

@{
    string portalUrl = ConfigurationManager.AppSettings["eCase.Web:DomainUrl"];
    string portalFeedback = string.Format("{0}Feedback", portalUrl);
    string activationCode = (string)Model["activationCode"];
    string activationLink = string.Format("{0}account/passwordRecovery?ac={1}", portalUrl, activationCode);
    string email = (string)Model["email"];

    var header = "Единен портал за електронно правосъдие (Забравена парола)";
    var eCase = "Единния портал за електронно правосъдие";
    var helloMessage = "Здравейте, ";
    var inMessage = "В ";
    var queryMessage = " беше получена заявка за смяна на парола за потребителски профил, асоцииран с имейл адрес: ";
    var deleteMessage = "Ако заявката не е направена от Вас, моля, изтрийте този имейл.";
    var activateMessage = "Ако наистина сте забравили паролата си и искате да я смените, натиснете следната хипервръзка за активиране на заявката: ";
    var gretting = "Поздрави, ";
    var team = "Екипът на Единния портал за електронно правосъдие";
    var answerMessage = "Моля, не отговаряйте на този имейл. Той е изпратен автоматично от служебната поща на системата.";
    var helpMessage = "При необходимост от съдействие и помощ, моля, използвайте контактите, посочени на ";
    var form = " или формата за ";
    var feedback = "Обратна връзка";
}

<p style="margin-bottom: 15px;"><strong style="color: #444444;">@header</strong></p>

<p style="margin-bottom: 15px;">
    @helloMessage<br />
    @inMessage<strong style="color: #444444;">@eCase</strong>@queryMessage<strong style="color: #444444;">@email</strong>.
</p>

<p style="margin-bottom: 15px;"><strong style="color: #444444;">@deleteMessage</strong></p>

<p style="margin-bottom: 15px;">
    @activateMessage<br />
    <a href="@(activationLink)">@(activationLink)</a>
</p>

<p style="margin-bottom: 2px; border-bottom: 1px solid black;">
    @gretting <br />
    @team
</p>

<p style="font-size: 13px; margin-top: 0px;">
    @answerMessage<br />
    @helpMessage<a href="@portalUrl">@eCase</a>@form<a href="@portalFeedback">@feedback</a>.
</p>