@using Epep.Core.Contracts;
@using Epep.Core.ViewModels.Case
@model FilterCaseVM
@inject IUserContext userContext
@{
    @if (Model.MyCasesOnly)
    {
        ViewData["Title"] = "Моите дела";
    }
    else
    {
        ViewData["Title"] = "Съдебни дела";
    }

    var hasSideSearch = Model.MyCasesOnly || userContext.UserType == NomenclatureConstants.UserTypes.GlobalAdmin;
    var hasNoOrgUserCases = Model.MyCasesOnly && userContext.UserType == NomenclatureConstants.UserTypes.OrganizationRepresentative;
}

@section offcanvasMain{
    <div class="details__header offcanvas-header">
        <h5 id="searchOffcanvasLabel" class="section-title">Търсене на дело</h5>
    </div>
    <div class="details__body offcanvas-body">
        <button type="button" class="btn u-btn u-btn-pill u-btn--grey ms-auto oc-clear" data-bs-dismiss="offcanvas">Изчисти и затвори</button>
        <form action="" class="epep-form">
            @Html.EditorFor(x=>x.CourtId,"GenericDropDown",new{container_class="mb-2",select2=true})
            @Html.EditorFor(x=>x.CaseKindId,"GenericDropDown",new{container_class="mb-2",select2=true})
            @Html.EditorFor(x=>x.DocNumber,"Int32",new{container_class="mb-2"})
            <div class="row g-2">
                @Html.EditorFor(x=>x.RegNumber,"Int32",new{container_class="col-8 mb-2"})
                @Html.EditorFor(x=>x.RegYear,"GenericDropDownInt",new{container_class="col-4 mb-2"})
            </div>
            <div class="row g-2">
                @Html.EditorFor(x=>x.PrevNumber,"Int32",new{container_class="col-8 mb-2"})
                @Html.EditorFor(x=>x.PrevYear,"GenericDropDownInt",new{container_class="col-4 mb-2"})
            </div>
            
            @Html.EditorFor(x=>x.ActKindId,"GenericDropDown",new{container_class="mb-2"})
            <div class="row g-2">
                @Html.EditorFor(x=>x.ActNumber,"Int32",new{container_class="col-8 mb-2"})
                @Html.EditorFor(x=>x.ActYear,"GenericDropDownInt",new{container_class="col-4 mb-2"})
            </div>
            @if (hasSideSearch)
            {
                @Html.EditorFor(x=>x.SideUic,"String",new{container_class="mb-2"})
            }
            @if (hasNoOrgUserCases)
            {
                @Html.EditorFor(x=>x.NoOrgUserCases,"Bool",new{container_class="mb-2"})
            }

            @if (userContext.UserId > 0 && userContext.UserType == NomenclatureConstants.UserTypes.Person)
            {
                @Html.EditorFor(x=>x.CheckMeInSides,"Bool",new{container_class="mb-2"})
            }
            <div class="mt-4">
                <button type="button" onclick="gridViewLoadData('#gvMain');" class="btn u-btn u-btn-pill ms-auto oc-submit" data-bs-dismiss="offcanvas">Търси</button>
            </div>
        </form>
    </div>
}
<main class="page-content">
    <div class="container">

        <div class="page-title__container row">
            <div class="col-auto"><h1 class="page-title">@ViewData["Title"]</h1></div>
            <div class="col-auto">
                <button class="btn u-btn u-btn-pill" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMain" aria-controls="offcanvasMain">Търсене на дело</button>
            </div>
        </div>
        <div id="gvFocusCases"></div>
        <div id="gvMain"></div>
        <div id="gvArchiveCases"></div>
    </div>
</main>
@section Scripts{
    <script>
        $(function () {
            $('#offcanvasMain').addClass('off-small');
            let gvMain = new GridView({
                container: '#gvMain',
                url: '@(Url.Action((Model.MyCasesOnly) ? "MyCasesLoadData" : "LoadData"))',
                data: function () {
                    return {
                        CourtId: $('#CourtId').val(),
                        CaseKindId: $('#CaseKindId').val(),
                        DocNumber: $('#DocNumber').val(),
                        RegNumber: $('#RegNumber').val(),
                        RegYear: $('#RegYear').val(),
                        PrevNumber: $('#PrevNumber').val(),
                        PrevYear: $('#PrevYear').val(),
                        ActKindId: $('#ActKindId').val(),
                        ActNumber: $('#ActNumber').val(),
                        ActYear: $('#ActYear').val(),
                        CheckMeInSides : $('#CheckMeInSides').is(':checked')
                        @if (hasSideSearch)
                        {
                            <text>,SideUic: $('#SideUic').val()</text>
                        }
                        @if (hasNoOrgUserCases)
                        {
                            <text>,NoOrgUserCases: $('#NoOrgUserCases').is(':checked')</text>
                        }
                    };
                },
                grid_title: '@(Model.MyCasesOnly ? "Моите дела" : "Съдебни дела")',
                template: '#gridViewItems',
                loader_text:'Моля, изчакайте...'
            });
        @if (Model.MyCasesOnly)
        {
            <text>
                    let gvFocusCases = new GridView({
                        container: '#gvFocusCases',
                        url: '@(Url.Action("FocusCasesLoadData"))',
                        data: function () {
                            return {
                                CourtId: $('#CourtId').val(),
                                CaseKindId: $('#CaseKindId').val()
                            };
                        },
                        size_selector: false,
                        page_size: 3,
                        grid_title: 'Дела на фокус',
                        //autoload:false,
                        template: '#gridViewItems',
                        empty_text: ' '
                    });

                    let gvArchiveCases = new GridView({
                        container: '#gvArchiveCases',
                        url: '@(Url.Action("ArchiveCasesLoadData"))',
                        //data: function () {
                        //    return {
                        //        CourtId: $('#CourtId').val(),
                        //        CaseKindId: $('#CaseKindId').val()
                        //    };
                        //},
                        empty_text: ' ',
                        size_selector: false,
                        //page_size: 3,
                        grid_title: 'Архивирани дела',
                        //autoload:false,
                        template: '#gridViewItems'
                    });
            </text>
        }
                                                                                                });

    </script>
    <script type="text/x-handlebars-template" id="gridViewItems">
        <li class="list__item">
            <a href="@Url.Action("CaseDetail")/{{gid}}" class="case-card">
                 <div class="case-card__header">
                      <div class="row">
        @if (Model.MyCasesOnly)
        {
            <text>
                            <div class="col-auto">
                                {{#if archiveCase}}
                                    <button title="Архивирано дело" class="u-archive u-archive--selected btn"></button>
                                {{else}}
                                    <button {{#if focusCase}}title="Дело на фокус"{{/if}} class="cta-star btn" aria-checked="{{#if focusCase}}true{{else}}false{{/if}}"></button>
                                {{/if}}
                            </div>                            
            </text>
                        <div class="col-md-5">
                                    <h3>№ <span>{{regNumber}}</span> от <span>{{regYear}}</span> година</h3>
                                </div>
        }
        else
        {
                        <div class="col-md-6">
                                    <h3>№ <span>{{regNumber}}</span> от <span>{{regYear}}</span> година</h3>
                                </div>
        }
                <div class="col-md-6"><h3 class="float-end">{{caseKindName}}</h3></div>
            </div>
        </div>
        <div class="case-card__body">
            <div class="row">
                <div class="col-md">
                    <span class="list__label">Съд</span>
                    <div class="list__output">{{courtName}}</div>
                </div>
                <div class="col-md">
                    <span class="list__label">Ищец</span>
                    <div class="list__output">
                        {{sideLeft}}
                    </div>
                </div>
                <div class="col-md">
                    <span class="list__label">Ответник</span>
                    <div class="list__output">{{sideRight}}</div>
                </div>
                <div class="col-md">
                    <span class="list__label">Съдия докладчик</span>
                    <div class="list__output">{{judgeReporter}}</div>
                </div>
                <div class="col-md">
                    <span class="list__label">Отделение</span>
                    <div class="list__output">{{departmentName}} {{panelName}}</div>
                </div>
            </div>
        </div>
        </a>
        </li>
    </script>
}