@using Epep.Core.ViewModels.Common;
@model FilterLawyerVM
@{
    ViewData["Title"] = "Адвокати";
}

@section offcanvasFilter{
    <div class="details__header offcanvas-header">
        <h5 id="searchOffcanvasLabel" class="section-title">Търсене на адвокати</h5>
    </div>
    <div class="details__body offcanvas-body">
        <button type="button" class="btn u-btn u-btn-pill u-btn--grey ms-auto oc-clear" data-bs-dismiss="offcanvas">Изчисти и затвори</button>
        <form action="" class="epep-form">
            <div class="row g-2">
                @Html.EditorFor(x=>x.Number,"String",new{container_class="col-4 mb-2"})
                @Html.EditorFor(x=>x.Name,"String",new{container_class="col-8 mb-2"})
            </div>
            @Html.EditorFor(x=>x.College,"String",new{container_class="mb-2"})
            <div class="mt-4">
                <button type="button" onclick="gridViewLoadData('#gvMain');" class="btn u-btn u-btn-pill ms-auto oc-submit" data-bs-dismiss="offcanvas">Търси</button>
            </div>
        </form>
    </div>
}
<main class="page-content">
    <div class="container">

        <div class="page-title__container row">
            <div class="col-auto"><h1 class="page-title">@ViewData["Title"]</h1></div>
            <div class="col-auto">
                <button class="btn u-btn u-btn-pill" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter" aria-controls="offcanvasMain">Търсене на адвокати</button>
            </div>
        </div>
       @* <div>
            <a href="#" onclick="requestOffcanvasSmall('@Url.Action("Add")',{});return false;" class="btn u-btn-gradient">Нов адвокат</a>
        </div>*@
        <div id="gvMain"></div>
    </div>
</main>
@section Scripts{
    <script>
        $(function () {
            $('.main-nav__item--lawyers').addClass('active');
            $('#offcanvasFilter').addClass('off-small');
            let gvMain = new GridView({
                container: '#gvMain',
                url: '@(Url.Action("LoadData"))',
                data: function () {
                    return {
                        Number: $('#Number').val(),
                        Name: $('#Name').val(),
                        College: $('#College').val()
                    };
                },
                template: '#gridViewItems'
            });
        });
        function editLawyer(gid) {
            requestOffcanvasSmall('@Url.Action("Edit")', { gid: gid });
        }
        function editLawyerCallback() {
            hideOffcanvas();
            gridViewLoadData('#gvMain');
        }
        function reportLawyerView(gid) {
            window.location.href = '@Url.Action("LawyerView","Report")/' + gid;
        }
    </script>
    <script type="text/x-handlebars-template" id="gridViewItems">
        <li class="list__item">
            <div class="case-card">
                 <div class="row">
                <a href="#" onclick="editLawyer('{{gid}}');return false;" class="col-md-11">
                <div class="case-card__body">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="list__label">Вид</span>
                            <div class="list__output">{{lawyerTypeName}}</div>
                        </div>
                        <div class="col-md-2">
                            <span class="list__label">Номер</span>
                            <div class="list__output">
                                {{number}}
                            </div>
                        </div>
                        <div class="col-md">
                            <span class="list__label">Имена</span>
                            <div class="list__output">
                                {{name}}
                            </div>
                        </div>
                        <div class="col-md">
                            <span class="list__label">Колегия</span>
                            <div class="list__output">{{college}}</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="col-md-1">
                            <button onclick="reportLawyerView('{{gid}}');return false;" class="float-end btn u-btn-lupa" aria-labelledby="Справка достъп по Закона за адвокатурата" title="Справка достъп по Закона за адвокатурата"></button>
                        </div>
                </div>
                </div>
        </li>
    </script>
}