@using Epep.Core.Models;
@model UserVacation
@{
    var title = "Редакция на отсъствие";
    if (Model.Id == 0)
    {
        title = "Добавяне на отсъствие";
    }
}
<div class="details__header details__header--red offcanvas-header">
    <button type="button" class="btn u-btn-back" data-bs-dismiss="offcanvas" aria-label="Затвори и се върни обратно"></button>
    <div class="container">
        <div class="case__assets">
            <div class="row">
                <div class="col-md">
                    <div class="list__cell">
                        <div class="list__label"></div>
                        <div class="list__output">@title</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="details__body offcanvas-body">
    <div class="container">
        <div class="ajax-form" data-url="@Url.Action("VacationEdit")">
            <form class="form-content">
                @Html.HiddenFor(x=>x.Id)
                @Html.EditorFor(x=>x.VacationTypeId,"GenericDropDownInt")
                <div class="row">
                    <div class="col-md">@Html.EditorFor(x=>x.DateFrom,"DateTime")</div>
                    <div class="col-md">@Html.EditorFor(x=>x.DateTo,"DateTime")</div>
                </div>
                @Html.EditorFor(x=>x.DocumentNumber)
            </form>
            <button type="button" class="cta-active btn form-submit" data-callback="editVacationCallback">Запис</button>
            <span class="ajax-form-validation text-danger"></span>
        </div>
    </div>
</div>
