@using Epep.Core.Contracts;
@using Epep.Core.ViewModels.Case;
@model OrganizationUserVM
@inject IUserContext userContext;
@{
    var title = "Добавяне на юрист по дело";
    if (Model.OrganizationUserGid.HasValue)
    {
        title = "Редакция на юрист по дело";
    }
}
<div class="details__header details__header--red offcanvas-header">
    <button type="button" class="btn u-btn-back" data-bs-dismiss="offcanvas" aria-label="Затвори и се върни обратно"></button>
    <div class="container">
        <div class="case__assets">
            <div class="row">
                <div class="col-md">
                    <div class="list__cell">
                        <div class="list__label">Организация</div>
                        <div class="list__output">@userContext.OrganizationName</div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="list__cell">
                        <div class="list__label">&nbsp;</div>
                        <div class="list__output">@title</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="details__body offcanvas-body">
    <div class="container">
        <div class="ajax-form" data-url="@Url.Action("OrganizationCaseSaveData","Organization")">
            <form class="form-content">
                @Html.HiddenFor(x=>x.OrganizationUserGid)
                @Html.HiddenFor(x=>x.CaseGid)
                @Html.EditorFor(x=>x.UserGid,"GenericDropDownGuid")
                @Html.EditorFor(x=>x.NotificateUser)
                @Html.EditorFor(x=>x.IsActive)
            </form>
            <button type="button" class="btn u-btn u-btn-pill ms-auto form-submit" data-callback="editUserForCaseCallback">Добави</button>
            <span class="ajax-form-validation text-danger"></span>
        </div>
    </div>
</div>
